
	<%- include("header") -%>

    <h1 class="toHome"><a href="/">&larr;</a></h1>

    <h2 class="abHead"> <%= abtitle %> </h2>
    
    <p class="abpara"> <%= abcont %> 
        <cite class="abauth"> <%= authname %> </cite>
    </p>

    
    
    <%- include("footer") -%>